.first-container{
    background-color: #AB00CD;
    padding: 10px;
    margin: 15px 30px 15px 30px;
    border-radius: 10px;

    .title-event{
        color: white;
        font-size: 30px;
        margin-left: 20px;
    }
}

.main-container{
    background-color: white;
    padding: 10px;
    margin: 0px 30px 15px 30px;
    border-radius: 10px;

    .events{
        margin-right: 20%;
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .button-type{
        margin-left: 80%;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .button-update{
            background-color: #00CD59;
            color: white;
            border: 1px solid #00CD59;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0px 0px 15px #00CD59;
        }

        .button-delete{
            background-color: #CD0003;
            color: white;
            border: 1px solid #CD0003;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0px 0px 15px #CD0003;
        }
    }
}