*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: black;
}

.navbar{
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 20px blueviolet;
}

.navbar .title{
    font-size: 30px;
    background-color: white;
    color: blueviolet;
    padding-left: 40px;
}

.navbar .links a{
    font-size: 20px;
    text-decoration: none;
    background-color: white;
    color: black;
    text-shadow: 0px 0px 5px blueviolet;
    padding-left: 30px;
    padding-right: 30px;
    transition: back-ground 0.3s, color 0.3s;
}

.navbar .links a:hover{
    color: blueviolet;
}

.navbar .button-container .buttonlogout{
    background-color: blueviolet;
    color: white;
    font-size: 15px;
    border: 1px solid blueviolet;
    border-radius: 20px;
    padding: 15px;
    margin-right: 50px;
    margin-left: auto;
    cursor: pointer;
    transition: back-ground 0.3s, color 0.3s;
}

.navbar .button-container .buttonlogout:hover{
    background-color: white;
    color: blueviolet;
    border: 3px solid blueviolet;
}