body {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
    margin: 0; 
}

.main-container {
    background-color: white;
    padding: 20px; 
    border: 2px solid #AB00CD;
    border-radius: 15px;
    box-shadow: 0px 0px 20px #AB00CD;
    display: flex; 
    flex-direction: column;
    width: 90%; 
    max-width: 400px; 
}

.title {
    color: #AB00CD;
    font-size: 30px;
    text-align: center;
    margin: 0 auto 15px auto; 
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    border: 2px solid #AB00CD;
    padding: 10px; 
    width: 95%; 
    box-sizing: border-box; 
    text-align: left;
}

.savebutton button {
    width: 50%; 
    margin: 15px auto 0 auto; 
    display: block;
    background-color: #00CD59;
    color: white;
    font-size: 17px;
    padding: 10px;
    border: 2px solid white;
    box-shadow: 0px 0px 15px white;
    cursor: pointer;
}