*{
    font-family: 'Mate', serif;
}

body {
    background-color: black;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
    margin: 0; 
}

.main-container {
    background-color: white;
    padding: 20px; 
    border: 3px solid #AB00CD;
    border-radius: 20px;
    box-shadow: 0px 0px 20px #AB00CD;
    display: flex; 
    flex-direction: column;
    width: 90%; 
    max-width: 400px; 
}

.title {
    color: black;
    text-shadow: 0px 0px 10px #AB00CD;
    font-size: 25px;
    text-align: center;
    margin: 0 auto 15px auto; 
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    border: 2px solid #AB00CD;
    border-radius: 10px;
    padding: 10px; 
    width: 95%; 
    box-sizing: border-box; 
    text-align: left;
}

.savebutton{
    margin: 15px auto 0 auto; 
    display: block;
    background-color: #AB00CD;
    color: black;
    font-size: 17px;
    padding: 20px;
    border: 2px solid black;
    box-shadow: 0px 0px 15px black;
    cursor: pointer;
}